
<div class="sidenav">

    <button class="dropdown-btn">Operators <i class="fa fa-caret-down"></i></button>
    <div class="dropdown-container">
        @Html.ActionLink("Create New", "Create", "Operator")
        @Html.ActionLink("Operator", "Index", "Operator")
    </div>

    <button class="dropdown-btn">Merchants <i class="fa fa-caret-down"></i></button>
    <div class="dropdown-container">
        @Html.ActionLink("Create New", "Create", "Merchant")
        @Html.ActionLink("Merchant", "Index", "Merchant")
    </div>
    @Html.ActionLink("Sale Channel", "Index", "SaleChannel")
    <hr />
    @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
    @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })

</div>

<script>
/* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
var dropdown = document.getElementsByClassName("dropdown-btn");
var i;

for (i = 0; i < dropdown.length; i++) {
  dropdown[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var dropdownContent = this.nextElementSibling;
    if (dropdownContent.style.display === "block") {
      dropdownContent.style.display = "none";
    } else {
      dropdownContent.style.display = "block";
    }
  });
}
</script>