@model IEnumerable<TPaySaleChannelSimulator.Models.SaleCharter>

@{
    ViewBag.Title = "Index";
}

<h2>Sale Channel</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.operatorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.merchantName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.operatorCountry)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.merchantCountry)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.operatorName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.merchantName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.operatorCountry)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.merchantCountry)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { Mid=item.merchantId,Oid=item.operatorId})
        </td>
    </tr>
}

</table>
